<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <h1 class="Log In">HOME</h1>
    <a href="/oauth2/authorization/google">Login with Google</a>
</div>
</body>
</html>